.linethrough {
    text-decoration: line-through;
}
.browse .card img{
    object-fit: cover;
}
.unavailable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
}
.narrow-container {
    max-width: 650px;
    margin: 0 auto;
}